<style>
    .header-o {
        padding: 0 0 5px;
        margin: 5px 25px 0;
    }
    .logoImg {
        margin-top: 20px;
    }
    .iranMap-o {
        margin-top: 0;
        width: 130px;
    }
    .siteTitle {
        margin-top: 23px;
    }
</style>

@*<div class="top-header text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-xs-12">
                <div class="row">
                    <div class="col-md-3 col-xs-3">
                        <span>
                            امروز:
                        </span>
                        <span class="dateTime">
                            <span data-component="today" data-url="/Home/GetPersianDateTime"></span>
                        </span>
                    </div>
                    <div class="col-md-5 col-xs-5">
                        <span>
                            تعداد کل اعضای هیئت علمی:
                        </span>
                        <span class="facultyMember red-title">
                            <span>۳۴۵۹۶</span>نفر
                        </span>
                    </div>
                    <div class="col-md-4 col-xs-4">
                        <span>
                            آخرین تاریخ بروزرسانی:
                        </span>
                        <span class="updateTime">
                            <span> ۴ بهمن ۱۳۹۴</span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-5 col-xs-12">
                <div class="universityAccess">
                    <i class="fa fa-database"></i>
                    <a class="top-header_link" href="#">جهت اخذ دسترسی برای دانشگاه / موسسه و یا سازمان خود به این اطلاعات اینجا کلیک کنید </a>
                </div>
            </div>
        </div>
    </div>
</div>*@

<div class="container">
    <div class="row">
        <div class="header header-o">
            <div class="row">
                <div class="col-md-3 col-xs-5">
                    <div class="logoImg">
                        <div class="row">
                            <a href="/">
                                <div class="col-md-5 col-xs-12">
                                    <img class="img-responsive img-margin logoMpfa" src="~/Content/styles/images/logoMapfa.png" alt="مپفا">
                                </div>
                                <div class="col-md-7 col-xs-12">
                                    <span class="logoTitle">مدیریت پژوهش و فناوری ایران</span>
                                    <br>
                                    <span class="logoText">سامانه یکپارچه مدیریت <br> اطلاعات پژوهشی و فنآوری</span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xs-2">
                    <img class="img-responsive img-margin iranMap  iranMap-o" src="~/Content/styles/images/iranMap.png" alt="Iran">
                </div>
                <div class="col-md-3 col-xs-5">
                    <a href="/" class="siteTitle">
                        <h1>سامانه <span class="red-title">علم سنجی</span> اعضای هیئت علمی</h1>
                        <p>Iranian Scientometrics information</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
