@{
    ViewBag.Title = "BoardCV";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("_Header")

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="slide">
                <img src="~/Content/styles/images/board-slide-pic1.jpg" style="width: 100%" />
            </div>
        </div>
    </div>
    <div data-component="board-grid-container" data-url="RetriveAllCV"></div>
</div>
