
@{
    ViewBag.Title = "Intoduction";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("_Header")

<main class="main-body">
    <div class="container">
            <div data-reactroot="" class="">
                <div class="container-fluid">
                    <div class="row no-gutter">
                        <div class="col-md-12">
                            <div class="detail-container">
                                <div class="detailHeader">
                                    <h3 class="detail__header_subject-right">معرفی سامانه علم سنجی</h3>
                                </div>
                            </div>
                            <div class="detailBody">
                                <div class="auto-width">
                                    <p class="detail__body_text">

                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</main>