
@{
    ViewBag.Title = "UnitEvaluation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("_Header")

<style>
    
    @@font-face {
	    font-family:"rezvan";
	    src: url("../Content/styles/rezvan/woff/REZVAN.WOFF") format("woff"),
	         url("../Content/styles/rezvan/woff/REZVAN-FAT.WOFF") format("woff"),
	         url("../Content/styles/rezvan/ttf/REZVAN-FAT.ttf") format("truetype"),
	         url("../Content/styles/rezvan/ttf/REZVAN.ttf") format("truetype");
	    font-weight:normal;
	    font-style:normal;
    }
    .detail__header_subject-right {
        color: #81b44a;
        font-family: "rezvan";
        margin-top: 5px;
    }
    .detail__header_subject-left {
        color: #004f9f;
        font-family: "rezvan";
        margin-top: 5px;
    }
    .detail__body_text {
        line-height: 1.6;
        text-align: justify;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="slide">
                <img src="~/Content/styles/images/unit-top.jpg" style="width: 100%" />
            </div>
        </div>
    </div>
    <div>
        <div data-reactroot="" class="grid-container">
            <div class="container-fluid">
                <div class="row no-gutter">
                    <div class="col-md-6">
                        <div class="detail-container">
                            <div class="detail__header">
                                <h3 class="detail__header_subject-right">معرفی ارزشیابی و لوزم اجرای آن</h3>
                            </div>
                        </div>
                        <div class="detail__body" style="padding: 30px; height: 525px;">
                            <div class="auto-width">
                                <p class="detail__body_text">
                                    ‍‍‍‍‍
                                    ارزشیابی به عنوان فرایندی ناظر بر جمع‌آوری نظام مند اطلاعات به منظور كسب شناخت جامع و کمی، بهبود عملكرد، یادگیری، پاسخگویی، برقراری ارتباطات و برنامه‌ریزی برای آینده است.
                                </p>
                                <p class="detail__body_text">
                                    ارزشیابی مراکز تحقیقاتی علوم پزشکی در راستای اجرای اقدام ملی شماره 11 از راهبرد کلان 1 نقشه جامع علمی کشور می باشد. بر اساس این راهبرد لازم است طراحی نظام کار آمد برای نظارت و ارزیابی و استقرار نظام های جامع رتبه بندی، به اجراء در آید. همچنین بر اساس بند "و" از ماده 15 فصل دوم بر نامه پنجم  توسعه "استقرار نظام جامع نظارت و ارزيابي ورتبه‌بندي دانشگاهها و مؤسسات آموزش عالي و پژوهشي بر اساس شاخصهاي مورد تأييد وزارتخانه‌هاي مذكور منوط به عدم مغايرت با مصوبات شوراي عالي انقلاب فرهنگي با هدف ارتقاء كيفيت آموزشي و پژوهشي" تکلیفی است که به عهده وزارت بهداشت درمان و آموزش پزشکی نیز گذاشته شده است.
                                </p>
                                <p class="detail__body_text">
                                    براساس سياستهاي كلان پژوهشي كشور، ارتقاء سطح علمي و كاربردي دانش منتج از تحقيقات و افزايش كارايي و اثر بخشي آن، درصدر اهداف معاونت تحقيقات و فناوري وزارت بهداشت، درمان و‌آموزش پزشكي بعنوان مهمترين رکن سياستگذاري درعرصه تحقيقات مرتبط با سلامت، قرار گرفته است .
                                </p>
                                <p class="detail__body_text">
                                    با توجه به اين ديدگاه، رفع موانع تحقيق، تشويق و ترغيب محققين و حمايتهاي مادي و معنوي از ايشان و موظف نمودن سازمانها و مراكز تحقيقاتي كشور به حمايت مستمر از محققان و انجمنهاي علمي – تحقيقاتي از مهمترين وظايف نهادهاي  سياستگذار در عرصه پژوهش بر شمرده شده است.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="detail-container">
                            <div class="detail__header">
                                <h3 class="detail__header_subject-left">روش شرکت در ارزشیابی آنلاین مراکز تحقیقاتی</h3>
                            </div>
                        </div>
                        <div class="detail__body" style="padding: 30px; height: 525px;">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-8">
                                        <p class="detail__body_text">
                                            کلیه مراکز تحقیقاتی دانشگاه آزاد اسلامی - معاونت علوم پزشکی موظفند نسبت به تکمیل و ورود اطلاعات خود در سامانه آنلاین ارزشیابی مراکز تحقیقاتی اقدام نمایند. به همین جهت هر مرکز می بایست نسبت به معرفی کارشناس مسئول ارزشیابی خود به معاونت علوم پزشکی اقدام نموده و سپس دسترسی های لازم جهت ورود و تکمیل اطلاعات را دریافت نماید.
                                        </p>
                                        <p class="detail__body_text">
                                            برای آشنایی بیشتر با امکانات و قابلیت های این ماژول و همچنین روش ثبت نام و ایجاد دسترسی لطفا مستندات این صفحه را مطالعه نمایید.
                                        </p>
                                        <p class="detail__body_text">
                                            همچنین در صورت بروز هر گونه اشکال و یا نیاز به راهنمایی در بخش محتوایی با شماره تماس 47351702و در بخش فنی و نرم افزار با شماره تلفن های 88553875 و یا 88553864 تماس حاصل فرمایید.
                                        </p>
                                    </div>
                                    <div class="col-md-4">
                                        <a href="http://scimed.iau.ac.ir:8082/" target="_blank">
                                            <img src="/Content/styles/images/unit-start-here.png">
                                        </a>
                                    </div>
                                </div>
                                <div class="row no-gutter">
                                    <div class="col-md-12">
                                        <a href="#" class="inline-image-link">
                                            <img src="/Content/styles/images/unit-view-output.png">
                                        </a>
                                        <a href="#" class="inline-image-link">
                                            <img src="/Content/styles/images/unit-guide.png">
                                        </a>
                                        <a href="#" class="inline-image-link">
                                            <img src="/Content/styles/images/unit-rules.png">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

